.heading_center{
    text-align: center;
}
.bgcolor{
    background-color: rgb(166, 173, 218);
}
.container{
    width: 350px;
    border: 3px solid rgb(44, 23, 80);
     border-radius:20px ;
}
.container>h1{
    color: rgb(67, 58, 167);
    padding: 25px 0;
}
.m-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}